.navbar {
    position: fixed;
    top:   0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 20px 30px;
    background: hsla(0, 0%, 100%, 0.99);
    border-bottom: 1px solid hsla(0, 0%, 0%, 0.05);
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.05);
    z-index: 5;
  }
  
  .navbar-wrapper {
    display:         flex;
    justify-content: space-between;
    align-items:     center;
  }
  
  .navbar-nav {
    background: hsla(0, 0%, 100%, 0.9);
    position: absolute;
    top: 91px;
    left: 0;
    width: 100%;
    height: calc(100vh - 91px);
    display:        flex;
    flex-direction: column;
    align-items:    center;
    gap: 30px;
    padding: 35px;
    backdrop-filter: blur(10px);
    transform: translateY(50px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 0.3s ease-in-out;
  }
  
  .navbar-nav.active {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
  
  .nav-link {
    color: var(--space-cadet);
    font-size: var(--fs-5);
    transition: 0.25s ease;
  }
  
  .nav-link:hover { color: var(--saffron); }
  
  .navbar-btn-group {
    display:     flex;
    align-items: center;
    gap: 25px;
  }
  
  .shopping-cart-btn {
    position: relative;
    background: var(--cultured);
    width:  50px;
    height: 50px;
    border-radius: 50%;
    display:         flex;
    justify-content: center;
    align-items:     center;
    border: 2px solid var(--white);
  }
  
  .shopping-cart-btn .count {
    background: var(--saffron);
    position: absolute;
    top:   -2px;
    right: -2px;
    height:    20px;
    min-width: 20px;
    display:     flex;
    align-items: center;
    padding: 0 7px;
    border-radius: 20px;
    color: var(--space-cadet);
    font-size: 12px;
    font-weight: 500;
  }
  