
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
body {
    font-family: Arial, sans-serif;
    background-color: #f5c3d4;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 700px;
    background-color: rgb(240, 236, 236);
    padding: 30px;
    border: 5px solid #ac9c9c;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
    border:  5px double black;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.5em;
    color: #333;
}

header .subheader {
    font-size: 1.2em;
    color: #555;
}

.content {
    text-align: center;
    margin-bottom: 40px;
}

.content .name {
    font-size: 2em;
    font-weight: bold;
    color: #333;
}

.content .details {
    font-size: 1.2em;
    color: #666;
    margin: 10px 0;
}

.content .date {
    font-size: 1em;
    color: #888;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

footer .signature {
    margin-bottom: 10px;
    font-size: 1.2em;
}

footer .line {
    width: 150px;
    border-top: 2px solid #150505;
    margin: 5px 0;
}

footer p {
    font-size: 1px;
    color: #555;
}


.h1{
    color: #000;
    background-color: rgb(76, 46, 6);
}
.h2{
    background-color: #2f1b1b;
   color: #ded7d7;
}